body {
  background-image: linear-gradient(to right top, #8f9ea5, #004d7a, #008793, #00bf72, #a8eb12) !important; }

a:hover {
  color: #184f96; }

.carousel-item {
  margin-left: 500; }

.imagen, .imagen_autoridades, .imagen .imagen_contacto, .imagen__preinscripcion {
  /*display: inline;*/
  margin-top: 20px;
  margin-left: 60px;
  padding: 1px;
  position: relative;
  display: inline-block;
  /* text-align: center;*/ }
  .imagen_autoridades {
    width: 20rem;
    grid-area: imagen_autoridades; }

@media screen and (max-width: 768px) {
  .imagen_autoridades {
    width: 5rem; } }

* {
  border-style: border-box;
  /*background-image: linear-gradient(to right top, #8f9ea5, #004d7a, #008793, #00bf72, #a8eb12) !important;*/
  /* background-color: rgb(181, 181, 197);*/ }

#inicio {
  display: flex;
  flex-direction: row;
  justify-content: left; }

.imagen, .imagen_autoridades, .imagen .imagen_contacto, .imagen__preinscripcion {
  /*display: inline;*/
  margin-top: 20px;
  margin-left: 60px;
  padding: 1px;
  position: relative;
  display: inline-block;
  /* text-align: center;*/ }
  .imagen_academico {
    /*@extend .imagen;*/
    width: 12rem; }

iframe {
  grid-area: iframe;
  /*background-color: blue;*/ }

.titulo1 {
  grid-area: titulo1;
  border-width: 10cm;
  /*border-width: 10cm;*/
  align-items: center;
  /*align-items: center;*/
  background-color: #615666;
  /*background-color: rgb(97, 86, 102);*/ }

.titulo2 {
  grid-area: titulo2;
  background-color: #615666;
  /*background-color: rgb(86, 90, 102);*/ }

.titulo3 {
  grid-area: titulo3;
  background-color: #615666;
  /*background-color: rgb(86, 90, 102);*/ }

.titulo4 {
  grid-area: titulo4;
  background-color: #615666;
  /*background-color: rgb(86, 90, 102);*/ }

.titulo5 {
  grid-area: titulo5;
  background-color: #615666;
  /*background-color: rgb(86, 90, 102);*/ }

.renglon1 {
  grid-area: renglon1;
  background-color: #418c9e;
  /*background-color: rgb(65, 140, 158);*/ }

.renglon2 {
  grid-area: renglon2;
  background-color: #418c9e;
  /* background-color: rgb(65, 140, 158);*/ }

.renglon3 {
  grid-area: renglon3;
  background-color: #418c9e;
  /*background-color: rgb(65, 140, 158);*/ }

.renglon4 {
  grid-area: renglon4;
  background-color: #418c9e;
  /*background-color: rgb(65, 140, 158);*/ }

.renglon5 {
  grid-area: renglon5;
  background-color: #418c9e;
  /*background-color: rgb(65, 140, 158);*/ }

.grid4 {
  display: grid;
  grid-template-areas: "header header header header header header" "nav nav nav nav nav nav" "titulo1 titulo2 titulo3 titulo4 titulo5 imagen_academico" "renglon1 renglon2 renglon3 renglon4 renglon5 imagen_academico" "iframe iframe iframe iframe iframe iframe" "footer footer footer footer footer footer";
  /* grid-template-rows: 1fr 10fr 1fr 10fr; */
  grid-template-rows: 50px 100px 30px 40px auto auto;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  /* height: 100vh;*/
  margin: 0; }

@media screen and (max-width: 860px) {
  .imagen_academico {
    /* height: 70px;
    width: 70px;*/
    width: 6rem; }
  .grid4 {
    /* grid-template-columns: 0.8fr 0.8fr;*/
    font-size: .48em; } }

.imagen, .imagen_autoridades, .imagen .imagen_contacto, .imagen__preinscripcion {
  /*display: inline;*/
  margin-top: 20px;
  margin-left: 60px;
  padding: 1px;
  position: relative;
  display: inline-block;
  /* text-align: center;*/ }
  .imagen .imagen_contacto, .imagen_autoridades .imagen_contacto, .imagen__preinscripcion .imagen_contacto {
    width: 20rem;
    grid-area: imagen_contacto; }

input, form input:focus {
  accent-color: #721227; }

form input, form input:focus {
  background-color: #c5c7d1;
  outline-color: #cc203d; }

#inicio {
  display: flex;
  flex-direction: row;
  justify-content: left; }

form input:focus {
  outline-color: #cc203d; }

.formulario {
  display: inline-block;
  grid-area: formulario; }

.grid6 {
  display: grid;
  grid-template-areas: "header header" "nav nav" "formulario  imagen_contacto" "footer footer";
  grid-template-rows: 55px 100px 450px 1fr;
  grid-template-columns: 1fr 1fr; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

footer {
  grid-area: footer; }

@media screen and (max-width: 768px) {
  .imagen_contacto {
    /* width: 200px;*/
    width: 5rem; }
  .grid6 {
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 55px 2fr 300px 500px;
    font-size: .47em; }
  .formulario {
    font-size: 1.2em; } }

.imagen, .imagen_autoridades, .imagen .imagen_contacto, .imagen__preinscripcion {
  /*display: inline;*/
  margin-top: 20px;
  margin-left: 60px;
  padding: 1px;
  position: relative;
  display: inline-block;
  /* text-align: center;*/ }

.parrafo, .parrafo .escuela {
  /*background-color: #a8eb12;*/
  font-size: 1em;
  text-align: justify;
  grid-area: parrafo; }
  .parrafo .escuela {
    text-align: center; }

.grid2 {
  display: grid;
  grid-template-areas: "header header";
  /* grid-template-rows: 1fr 10fr 1fr 10fr; */
  grid-template-rows: 50px 20px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  /* height: 100vh;*/
  margin: 0; }

#inicio {
  display: flex;
  flex-direction: row;
  justify-content: left; }

@media screen and (max-width: 768px) {
  .imagen_escuela {
    margin-top: 10px;
    width: 20rem; }
  .grid2 {
    /*grid-template-columns: .05fr;*/
    font-size: .48em; }
  .parrafo, .parrafo .escuela {
    /*background-color: #a8eb12;*/
    font-size: 2em;
    text-align: justify;
    text-align: justify;
    font-size: 1.5em;
    padding: 20px; }
  .escuela {
    text-align: justify;
    font-size: 0.2em; } }

.imagen, .imagen_autoridades, .imagen .imagen_contacto, .imagen__preinscripcion {
  /*display: inline;*/
  margin-top: 20px;
  margin-left: 60px;
  padding: 1px;
  position: relative;
  display: inline-block;
  /* text-align: center;*/ }
  .imagen__preinscripcion {
    width: 20rem;
    grid-area: imagen__preinscripcion; }

.preinscripcion {
  grid-area: preinscripcion; }

.grid5 {
  display: grid;
  grid-template-areas: "header header";
  grid-template-rows: 55px  25px;
  /* 0.2px 1px ;*/
  grid-template-columns: 1fr 1fr; }

.parrafo_reducido {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

@media screen and (max-width: 768px) {
  .imagen__preinscripcion {
    width: 10rem; }
  .grid5 {
    /* grid-template-columns: 0.8fr 0.8fr;*/
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.1px;
    font-size: .48em; }
  .preinscripcion {
    font-size: 1.2em; }
  #inicio {
    display: flex;
    flex-direction: row;
    justify-content: left; } }

body {
  /*background-color: rgb(158, 173, 185);*/
  /*display: flex;*/
  min-height: 100vh; }

@media screen and (max-width: 768px) {
  .navbar {
    background-color: #00bf72; } }

footer {
  grid-area: footer; }

a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 1000;
  color: aquamarine; }

.titulo {
  top: 10px;
  border-style: border-box;
  /*background-color: rgb(158, 173, 185);*/
  font-size: 2em;
  border-style: dotted;
  display: flex;
  flex-direction: row;
  left: 2.7cm;
  position: relative;
  margin-left: 120px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .titulo:hover {
    background-color: #12ebc7;
    transition: color 5s; }

.logo {
  top: 11px;
  position: absolute;
  width: "100px";
  /*height: "50px";*/
  margin-left: 120px; }

#inicio {
  display: inline-flex;
  flex-direction: row; }

header {
  grid-area: header; }
