.imagen{
    /*display: inline;*/
    @include margins(20px, 60px);
    padding: map-get($styles, padding1);
    position: relative;
    display: inline-block;
   /* text-align: center;*/

       &_autoridades{
         @extend .imagen;
         width: map-get($styles, ancho3);
         grid-area: imagen_autoridades;     
         animation-duration: 5s;
         animation-name: aparecer;
         animation-iteration-count: 1;

       }
   }
   
   

   @media screen and (max-width: 768px){

 .imagen_autoridades{
  width: map-get($styles, ancho4);
 }
}