.imagen{
    /*display: inline;*/
    margin-top: 20px;
    margin-left: 60px;
    padding: 1px;
    position: relative;
    display: inline-block;
   /* text-align: center;*/

       &_autoridades{
         width:20rem;
         grid-area: imagen_autoridades;     
       }
   }
   



 @media screen and (max-width: 768px){

 .imagen_autoridades{
    width:5rem;
 }
}