*{
    border-style: border-box;
    /*background-image: linear-gradient(to right top, #8f9ea5, #004d7a, #008793, #00bf72, #a8eb12) !important;*/
   /* background-color: rgb(181, 181, 197);*/
}

.imagen{
    /*display: inline;*/
    margin-top: 20px;
    margin-left: 60px;
    padding: 1px;
    position: relative;
    display: inline-block;
   /* text-align: center;*/

     &_academico{
        width:12rem;
     }

   }



iframe {
    grid-area: iframe;     
    /*background-color: blue;*/
 }


 .titulo1 {
    grid-area: titulo1;     
    border-width: 10cm;
    align-items: center;
    background-color: rgb(97, 86, 102);
 }
 
 .titulo2 {
    grid-area: titulo2;     
    background-color: rgb(86, 90, 102);
 }
 
 .titulo3 {
    grid-area: titulo3;     
    background-color: rgb(86, 90, 102);
 }
 
 .titulo4 {
    grid-area: titulo4;     
    background-color: rgb(86, 90, 102);
 
 }
 
 .titulo5 {
    grid-area: titulo5;     
    background-color: rgb(86, 90, 102);
 }
 
 
 .renglon1 {
    grid-area: renglon1;     
    background-color: rgb(65, 140, 158);
 }
 
 .renglon2 {
    grid-area: renglon2;     
    background-color: rgb(65, 140, 158);
 }
 .renglon3 {
    grid-area: renglon3;     
    background-color: rgb(65, 140, 158);
 }
 .renglon4 {
    grid-area: renglon4;     
    background-color: rgb(65, 140, 158);
 }
 .renglon5 {
    grid-area: renglon5;     
    background-color: rgb(65, 140, 158);
 }

 
 .grid4{
   display: grid;
   grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "titulo1 titulo2 titulo3 titulo4 titulo5 imagen_academico"
    "renglon1 renglon2 renglon3 renglon4 renglon5 imagen_academico"
    "iframe iframe iframe iframe iframe iframe"
    "footer footer footer footer footer footer"
    ;
  /* grid-template-rows: 1fr 10fr 1fr 10fr; */
  grid-template-rows: 50px 100px 30px 40px auto auto;
  grid-template-columns:  2fr 2fr 2fr 2fr 2fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  /* height: 100vh;*/
  margin: 0;	
}

 @media screen and (max-width: 860px){

 .imagen_academico{
   /* height: 70px;
    width: 70px;*/
    width: 6rem;
   }

   .grid4{
       /* grid-template-columns: 0.8fr 0.8fr;*/
        font-size: .48em;
     }
   }


