*{
    border-style: border-box;
    /*background-image: linear-gradient(to right top, #8f9ea5, #004d7a, #008793, #00bf72, #a8eb12) !important;*/
   /* background-color: rgb(181, 181, 197);*/
}

#inicio{
  @include flex-row-center(flex, row, left);
}

.imagen{
    /*display: inline;*/
    @include margins(20px, 60px);
    padding: map-get($styles, padding1);
    position: relative;
    display: inline-block;
   /* text-align: center;*/

     &_academico{
      /*@extend .imagen;*/
      width: map-get($styles, ancho);
      animation-duration: 5s;
      animation-name: aparecer;
      animation-iteration-count: 1;
     }

   }



iframe {
    grid-area: iframe;     
    /*background-color: blue;*/
 }


 .titulo1 {
    grid-area: titulo1;     
    border-width: map-get($styles, borde);
    /*border-width: 10cm;*/
    align-items: map-get($styles, centro);
    /*align-items: center;*/
    background-color: map-get($styles, color);
    /*background-color: rgb(97, 86, 102);*/
    padding-left: 5px;
    margin-left: 5px;
 }
 
 .titulo2 {
    grid-area: titulo2;     
    background-color: map-get($styles, color);
    /*background-color: rgb(86, 90, 102);*/
 }
 
 .titulo3 {
    grid-area: titulo3;     
    background-color: map-get($styles, color);
    /*background-color: rgb(86, 90, 102);*/
 }
 
 .titulo4 {
    grid-area: titulo4;
    background-color: map-get($styles, color);     
    /*background-color: rgb(86, 90, 102);*/
 }
 
 .titulo5 {
    grid-area: titulo5;     
    background-color: map-get($styles, color);
    /*background-color: rgb(86, 90, 102);*/
 }
 
 
 .renglon1 {
    grid-area: renglon1;    
    background-color: map-get($styles, color2); 
    height: map-get($styles, altura); 
    /*background-color: rgb(65, 140, 158);*/
    padding-left: 5px;
    margin-left: 5px;
 }
 
 .renglon2 {
    grid-area: renglon2;     
    background-color: map-get($styles, color2);
    height: map-get($styles, altura); 
   /* background-color: rgb(65, 140, 158);*/
 }

 .renglon3 {
    grid-area: renglon3;     
    background-color: map-get($styles, color2);
    height: map-get($styles, altura); 
    /*background-color: rgb(65, 140, 158);*/
 }

 .renglon4 {
    grid-area: renglon4;   
    background-color: map-get($styles, color2); 
    height: map-get($styles, altura);  
    /*background-color: rgb(65, 140, 158);*/
 }

 .renglon5 {
    grid-area: renglon5;   
    background-color: map-get($styles, color2);
    height: map-get($styles, altura);   
    /*background-color: rgb(65, 140, 158);*/
 }

 
 .grid4{
   display: grid;
   grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "titulo1 titulo2 titulo3 titulo4 titulo5 imagen_academico"
    "renglon1 renglon2 renglon3 renglon4 renglon5 imagen_academico"
    "iframe iframe iframe iframe iframe iframe"
    "footer footer footer footer footer footer"
    ;
  /* grid-template-rows: 1fr 10fr 1fr 10fr; */
  grid-template-rows: 50px 100px 30px 80px 180px 30px;
  grid-template-columns:  2fr 2fr 2fr 2fr 2fr 2fr;
 /* grid-row-gap: 1px;*/
  grid-column-gap: 5px;
  /* height: 100vh;*/
  margin: 0;	
}

 @media screen and (max-width: 860px){

 .imagen_academico{
   height: map-get($styles, alturacalendario);
   width: map-get($styles, ancho2);
   }

   .grid4{
       /* grid-template-columns: 0.8fr 0.8fr;*/
        grid-template-rows: 60px 50px 15px 50px 250px auto;
        font-size: .48em;
     }

     .titulo1 {
      height: map-get($styles, alturaquery); 
   }
   
   .titulo2 {
      height: map-get($styles, alturaquery); 
   }
   
   .titulo3 {
      height: map-get($styles, alturaquery); 
   }
   
   .titulo4 {
      height: map-get($styles, alturaquery); 
   }
   
   .titulo5 {
      height: map-get($styles, alturaquery); 
   }


   .renglon1 {
      height: map-get($styles, alturaquery); 
   }
   
   .renglon2 {
      height: map-get($styles, alturaquery); 
   }

   .renglon3 {
      height: map-get($styles, alturaquery); 
   }

   .renglon4 {
      height: map-get($styles, alturaquery); 
   }

   .renglon5 {
      height: map-get($styles, alturaquery); 
   }

   }


