.imagen{
    /*display: inline;*/
    @include margins(40px, 60px);
    padding: map-get($styles, padding1);
    position: relative;
    display: inline-block;
   /* text-align: center;*/
   }


   .imagen_escuela{  /*display: inline;*/
       @include margins(40px, 60px);
    }

.parrafo{
    /*background-color: #a8eb12;*/
    font-size: 1em;
    text-align: justify;
    grid-area: parrafo;   
    
    .escuela{
      @extend .parrafo;
      text-align:center;
   }

 }

 .grid2{
    display: grid;
    grid-template-areas:
     "header header"
     /*"nav"
     "parrafo"
     "imagen_escuela"
     "footer2"*/
     ;
   /* grid-template-rows: 1fr 10fr 1fr 10fr; */
   grid-template-rows: 50px 20px;
   grid-template-columns:  1fr 1fr;
   grid-row-gap: 10px;
   grid-column-gap: 10px;
  /* height: 100vh;*/
   margin: 0;	
 }

 #inicio{
   @include flex-row-center(flex, row, left);
 }

 @media screen and (max-width: 768px){

 .imagen_escuela{
   margin-top: 10px;
   width: map-get($styles, ancho3);
  }

  .footer2{
     top: 250px;
  }

.grid2{
   /*grid-template-columns: .05fr;*/
   font-size: .48em;
}

.parrafo{
   /*background-color: #a8eb12;*/
   text-align: justify;
   text-align: justify;
   font-size: 0.9em;
   /*font-size: 1px;*/
   padding: 20px;
}

.escuela{
   text-align: justify;
   font-size: 0.2em;
   font-size: 3px;
}

}