$styles: (
  color: rgb(97, 86, 102),
  color2: rgb(65, 140, 158),
  centro: center,
  borde: 10cm,
  ancho: 12rem,
  ancho2: 6rem,
  ancho3: 20rem,
  ancho4: 5rem,
  anchoesc: 300px,
  padding1: 1px,
  altura: 50px,
  alturaquery: 25px,
  alturacalendario: 45px,
  blanco: #c5c7d1,
  rojo: #cc203d
);
